*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}

body{
	background-image: url(img/back.jpg);
	background-size: 103% 103%;
	width: 100%;
	height: auto;
	text-align: center;
	background-attachment: fixed;
	overflow: hidden;
}